@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// light mode
$lightTextColor: #2d3436; // Charcoal gray for text
$lightBackgroundColor: #ffffff; // Pure white background
$lightAccentColor: #0984e3; // Clean blue accent
$lightSecondaryColor: #00b894; // Fresh mint green
$lightTertiaryColor: #6c5ce7; // Soft purple
$lightNeutralColor: #dfe6e9; // Light gray for borders/dividers

// dark mode
$darkTextColor: #BF303C; // Rosa escuro para texto
$darkBackgroundColor: #D9306E; // Rosa médio para background
$darkAccentColor: #D90DA2; // Rosa vibrante para destaque
$darkSecondaryColor: #0B4359; // Azul escuro para elementos secundários 
$darkTertiaryColor: #06ADBF; // Azul claro para elementos terciários
$darkNeutralColor: #FFFFFF; // Branco para elementos neutros
$darkQuaternaryColor: #000000; // Preto para elementos de contraste
// fonts
$pixelifyFont: 'Pixelify Sans', cursive;
$montserratFont: 'Montserrat', sans-serif;

// mixins
@mixin themeStyles($bg, $text) {
  background-color: $bg;
  color: $text;
}

// Media Queries dammn mixins always have to be at the top of the file?
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {

  /* Define um breakpoint para dispositivos móveis com largura máxima de 480px 
  ou seja até 480px de largura vao ser aplicadas as styles de mobile, depois de 
  480px de largura vao ser aplicadas as styles de tablet */
  @media (max-width: 480px) {
    @content;
  }
}

// navbar styles //
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  z-index: 1;
  

  &.light {
    @include themeStyles($lightBackgroundColor, $lightTextColor);
    border-bottom: 1px solid $lightTextColor;
    font-family: $montserratFont;
  }

  &.dark {
    @include themeStyles($darkQuaternaryColor, $darkNeutralColor);
    border-bottom: 1px solid $darkAccentColor;
    font-family: $montserratFont;
  }

  .titles {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: $montserratFont;
    h3 {
      margin-top: 0.3rem;
    }
  }

  .navbarlinks {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;

    a {
      text-decoration: none;
      padding: 0.5rem;
      border-bottom: 2px solid transparent;
      &:visited,
      &:active,
      &:link {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }

      // Remove outline ao clicar (opcional)
      &:focus {
        outline: none;
      }

      &.active {
        &.light {
          border-bottom: 2px solid $darkQuaternaryColor;
        }
        &.dark {
          border-bottom: 2px solid $darkAccentColor;
        }
      }
    }
  }

  .theme-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1rem;

    &.dark {
      svg {
        stroke: $darkTertiaryColor;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;

    }
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 2rem;

  }

  @include mobile {
    padding: 1rem;
    height: 3.5rem;

    .navbarlinks {
      display: none; // Will be replaced with a mobile menu
    }

    .mobile-menu {
      display: block;
    }
  }
}

// hero styles / home styles //

.welcome {
  // home container
  display: flex;
  justify-content: center;
  height: 94vh;
  gap: 3rem;
  margin: 0 auto;

  &.light {
    background-color: $lightBackgroundColor;
  }

  &.dark {
    background-color: $darkQuaternaryColor;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
  }
}

.hero-image {
  // profile image
  background-image: url('../assets/image/profile.jpeg');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  margin-top: 10rem;
  object-fit: cover;
  border-radius: 50%;

  @include tablet {
    width: 250px;
    height: 450px;
    margin-top: 6rem;
  }

  @include mobile {
    width: 90%;
    height: 400px;
    margin-top: 4rem;
    border-radius: 0.5rem;
    background-position: 0 25%;
  }
}

.about-me {
  // about me container
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 300px;
  margin-top: 10rem;
  text-align: justify;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;

  &.light {
    color: $lightTextColor;
  }

  &.dark {
    color: $darkNeutralColor;
  }

  h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem;
  }

  @include tablet {
    width: 90%;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
  }

  @include mobile {
    width: 95%;
    height: auto;
    margin-top: 1rem;
    padding: 0.5rem;

    h1 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}


// footer styles and icons styles //

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;

  p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;

    a:first-child {
      border-right: 1px solid $lightTextColor;
      padding-right: 1rem;
    }

    a:nth-child(2) {
      border-right: 1px solid $lightTextColor;
      padding-right: 1rem;
    }

    a:nth-child(3) {
      border-right: 1px solid $lightTextColor;
      padding-right: 1rem;
    }
  }

  &.light {
    @include themeStyles($lightBackgroundColor, $lightTextColor);
    border-top: 1px solid $lightTextColor;
  }

  &.dark {
    @include themeStyles($darkQuaternaryColor, $darkNeutralColor);
    border-top: 1px solid $darkNeutralColor;

    .icons {
      a:first-child,
      a:nth-child(2),
      a:nth-child(3) {
        border-right: 1px solid $darkNeutralColor;
      }
    }
  }

  @include mobile {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 0.5rem;

    .icons {
      gap: 1rem;

      a:first-child,
      a:nth-child(2),
      a:nth-child(3) {
        padding-right: 1rem;
      }
    }
  }
}

// /projects styles //
.projects-container {
  padding: 6rem 2rem 2rem;
  min-height: 100vh;

  &.light {
    @include themeStyles($lightBackgroundColor, $lightTextColor);
  }

  &.dark {
    @include themeStyles($darkQuaternaryColor, $darkNeutralColor);
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
  }

  .bento-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;

    .project-card {
      height: 385px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 1rem;
      padding: 1rem;
      transition: transform 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-family: $montserratFont;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      &.light {
        color: $lightTextColor;
        background: rgba($lightBackgroundColor, 0.8);
        border-color: $lightTextColor;

        .project-title {
          color: $lightTextColor;
          
          a {
            color: inherit;
            
            &:hover {
              filter: brightness(0.9);
            }
          }
        }

        .project-type {
          color: $lightSecondaryColor;
          font-family: 'Inter', sans-serif;
          font-size: 0.9rem;
        }

        .project-description {
          color: $lightTextColor;
        }

        .tech-stack {
          color: $lightTertiaryColor;
          
          svg:hover {
            color: $lightAccentColor;
          }
        }
      }

      &.dark {
        color: $darkNeutralColor;
        background: rgba($darkQuaternaryColor, 0.95);
        border-color: $darkAccentColor;
        font-family: $montserratFont;
        .project-title {
          color: $darkAccentColor;
          
          a {
            color: inherit;
            
            &:hover {
              color: $darkAccentColor;
            }
          }
        }

        .project-type {
          color: $darkBackgroundColor;
        }

        .project-description {
          color: $darkNeutralColor;
        }

        .tech-stack {
          color: $darkAccentColor;
          
          svg:hover {
            color: $darkTertiaryColor;
          }
        }

        &:hover {
          border-color: $darkTertiaryColor;
          box-shadow: 0 0 15px rgba($darkAccentColor, 0.3);
        }
      }
      img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 0.5rem;
        margin: 0 auto 0.5rem;
      }
      .project-title {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      .project-type {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .project-description {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1rem;
      }

      .tech-stack {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;

        svg {
          transition: all 0.3s ease;
          
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}



@include mobile {
  .bento-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 1rem;
  }
}